@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* Apply fonts globally */
body {
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
}